.site-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-description {
  margin: 0;
}

.site-content {
  @extend %displayFlexColumnCenter;

  .figure-post-thumbnail {
    width: 100vw;
    height: 50vh;

    overflow: hidden;

    margin: 0;

    .post-thumbnail {
      position: relative;
      top: -35vh;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .categorie-nouvelles {
    @extend %displayFlexColumnCenter;
    width: 100%;
    height: auto;

    margin: 2% 0;
    .categorie-nouvelles-contenu {
      @extend %displayFlexRowCenter;
      align-items: flex-end;
      flex-wrap: wrap;

      width: 100%;
      height: auto;

      .articles-nouvelles {
        @extend %displayFlexColumnCenter;

        margin: 1%;
        width: 20vw;

        .image-article {
          width: 90%;
        }

        .title-article {
          width: 90%;
          text-align: center;
          a {
            color: $blue;
            text-transform: uppercase;
            font-size: 0.8em;

            @include transition(color 0.4s);

            &:hover {
              color: lighten($blue, 20%);
            }
          }
        }
      }
    }
  }
}
